<%- include('../partials/header.ejs') %>

<div class="container">
    <h2 style="
        margin-top: 35px;
        text-align: center;
        color:#ffc107; 
        background-color: #212529; 
        padding-bottom: 8px; 
        margin-bottom: 0px;
        border-radius: 10px 10px 0px 0px;"> Lista de Productos</h2>
    <% if (products.length > 0){ %> 
        <table class="table table-dark table-hover">
            <tr >
                <th><h4>Producto</h4></th>
                <th><h4>Precio</h4></th>
                <th><h4>Stock</h4></th>
                <th><h4>Foto</h4></th>
                <th></th>
            </tr>
            <%for(products of products){ %>
             <tr>
                 <td><h5><%=products.name %></h5></td>
                 <td><h5>$<%=products.price  %></h5></td>
                 <td><h5><%=products.stock  %></h5></td>
                 <td><img style="width: 55px; height: 55px;" src= <%=products.img  %> ></td>
                 <td><button type="button" onsubmit="addProduct()" class="btn btn-warning">Comprar</button></td>
             </tr>
            <% } %> 
        </table>
    <% } else { %>
        <p class="aler alert-warning">No se encontró productos</p>
    <% } %>
</div>

<%- include('../partials/footer.ejs') %>