<%- include('../partials/header.ejs') %>
<div class="container">
    <h2 style="
    margin-top: 35px;
    text-align: center;
    color:#ffc107; 
    background-color: #212529; 
    padding-bottom: 8px; 
    margin-bottom: 0px;
    border-radius: 10px 10px 0px 0px;"> Mas vendidos 
    </h2>
</div>

<% if (products.length > 0){ %>
    <div class="container">
        <div class="row">
        <%for(products of products){ %>
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img src=<%=products.img  %> class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title"><%=products.name %></h5>
                    <h5 class="card-title">$ <%=products.price %></h5>
                    <p class="card-text"></p>
                    <a href="#" class="btn btn-warning">Comprar</a>
                    </div>
                </div>
            </div>
        <% } %> 
        </div>
    </div>
<% }%>

<%- include('../partials/footer.ejs') %>
